body {
    background: #fff;
    color: #888;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-image:url("../images/wallpaper2.jpg");
	background-size:cover;
}
#startContainer {
	border: 1px solid black;
	padding: 10px;
	background-color:#66ccff;
	margin: auto;
	width: 60%;
}
h1 {
	text-align: center;
	color:white;
	font-size:2em;
	margin:20px;
}
#btnStart {
	border-radius: 5px;
    color: #1E1EFA;
    cursor: pointer;
    margin: auto;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}
#board {
	margin: auto;
	width: 60%;
	background-color:#FAF31E;
}
.question {
	margin:10px;
	padding:10px;
	border:1px solid black;
}

.choices a {
	display:block;
	margin:10px;
}

.choices a:hover {
	color:red;
}